nav {
}

body{
    background-image: url(restaurant.jpg);
}

h1, h2 {
    padding: 10px;
    margin: 0;
    text-align: center;
}

.homeDiv {
    background-color: aqua;
}

.menuDiv {
    background-color: green;
}

.aboutDiv {
    background-color: red;
}

